@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 37px;
	padding: 3px;
	margin: 0;
	background-color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#050505), to(#666666));
	background-image: -webkit-linear-gradient(top, #050505, #666666);
	background-image: -moz-linear-gradient(top, #050505, #666666);
	background-image: -ms-linear-gradient(top, #050505, #666666);
	background-image: -o-linear-gradient(top, #050505, #666666);
	background-image: linear-gradient(to bottom, #050505, #666666);
	border-bottom: 1px solid #444;
	-webkit-box-shadow: 0 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0 5px 5px 0px rgba(0,0,0,0.75);
}
header h1 {
	font-family: 'Fugaz One', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: #fff;
	padding: 0;
	margin: 0 0 0 10px;
}
body {
	padding-top: 80px;
    padding-bottom: 40px;
	background: #e0e0e0 url(../img/100-90-5.png) fixed;
}
.pin {
	width: 198px;
	padding: 10px;
	border: 1px solid #aaa;
	margin: 0 0 20px; /* == pinboard.cfg.margin */
	background: #f7f7f7;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.75);
	overflow: hidden;
}
.debug .pin {
	outline: 1px solid blue;
}
.pin  img {
	max-width: 100%;
}
.pin .meta {
	font-style: italic;
	color: #888;
}
footer {
	clear: both;
	border-top: 1px solid #222;
	padding-top: 10px;
	text-align: center
}