@import url(http://fonts.googleapis.com/css?family=Lobster);
body {
	background: #f7f7f7 url(../img/100-90-5.png);
}
#page-wrap {
	width: 59.58291956305859%; /* 600 / 1007 px */
	margin: 0 auto;
	outline: 1px solid #000;
}
header h1 {
	text-indent: -9999px;
	width: 335px;
	height: 80px;
	margin: 20px auto;
	background: url(../img/logo.png) no-repeat 0 0;
}
header h2 {
	font-family: "Lobster", cursive;
	font-size: 28px;
	font-weight: normal;
	text-align: center;
	color: #d40000;
	margin: 0;
}
h2 {
	margin-top: 80px;
	margin-bottom: 30px;
	color: #fe4901;
	text-align: center;
	font-family: Georgia, serif;
	font-size: 20px;
	font-style: bold;
}
p, ul {
	color: #666;
	font-family: Cambria, serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.5em;
	text-align: justify;
}
ul#demo {
	margin: 0;
	padding: 0;
}
#demo li {
	list-style: none;
	margin-bottom: 20px;
	text-align: center;
}
#demo li a img {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
}
code {
	font-family: monospace;
	font-style: normal;
	font-weight: bold;
}
footer {
	text-align: center;
	width: 331px;
	height: 102px;
	margin: 80px auto 10px;
	background: url(../img/footer.png) no-repeat 0 0;
	color: #4d4d4d;
	font-family: 'Lobster', cursive;
	font-size: 16px;
	font-weight: normal;
	padding-top: 40px;
}
footer img {
	position: absolute;
	top: 0;
	right: 0;
}